
<div *ngIf="eventSession as location" class="location">
  <h3> {{location.event.title }} </h3>
  <div *ngFor="let session of location.sessions | sortByDate: 'date'">
    <div class="location__container" *ngIf="hasLocationSelected(session.selectedLocations)">
      <div class="location__container__date">
        {{CONST.APP_DATE | translate}}:  {{session.date | date}}
      </div>
      <div class="location__container__button">
        <div>
          x {{session.selectedLocations}}  
        </div>
        <div (click)="removeFromCart(session)">
          <img class="location__container__button__trash" src="../../../../assets/img/trash.png"> 
        </div>
      </div>
    </div>
  </div>
</div>
