
.location  {
  width: 100%;
  max-width: 600px;
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  &__container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    &__button {
      display: flex;
      &__trash{
        height: 20px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .location {
    width: 300px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .location {
    max-width: 100%;
  }
}