.event {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  &__session {
    width: 30vw;
    height: 25vh;
    border: 1px solid;
  }

  &__cart {
    width: 30vw;
    height: 25vh;
    border: 1px solid;
  }
}

.container {
  display: unset;
  margin: 15px;
  &__back {
    display: flex;
    justify-content: right;
    width: 90vw;
  }
}

