<div class="container" *ngIf="event; else noData">
  <div class="container__back">
    <button mat-button color="primary" [routerLink]="['/']">{{CONST.EVENT_BUTTON_BACK | translate}}</button>
  </div>
  <mat-grid-list [cols]="cols$ | async" rowHeight="500px" gutterSize="30px">
    <mat-grid-tile><app-session [eventSession]="sessions"  (sessionUpdated)="onSessionUpdated($event)"></app-session></mat-grid-tile>
    <mat-grid-tile><app-shopping-cart [eventSession]="event" (removeSession)="onSessionRemoved($event)"></app-shopping-cart></mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #noData>
  <div class="container">
    <div class="container__back">
      <button mat-button color="primary" [routerLink]="['/']">{{CONST.EVENT_BUTTON_BACK | translate}}</button>
    </div>
    <mat-grid-list cols="1" rowHeight="500px" gutterSize="30px">
      <mat-grid-tile><app-session></app-session></mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>
