<mat-card class="card" *ngIf="card">
  <mat-card-header class="card__header">
    <mat-card-title class="card__header__title">{{card.title}}</mat-card-title>
    <mat-card-subtitle class="card__header__subtitle">{{card.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{card.image}}" alt="Image of {{card.title}} Event in {{card.subtitle}} "
    class="card__image">
  <mat-card-content class="card__content">
    <div class="card__content__date">{{ card.startDate | date }} - {{card.endDate | date}}    {{card.place}} </div>
    <span *ngIf="column === 2">
      <p class="card__content__description" [innerHTML]="card.description">
      </p>
    </span>
  </mat-card-content>
  <mat-card-actions class="card__actions" [routerLink]="['event', card.id]">
    <button mat-button >{{CONST.CARD_BUTTON | translate}}</button>
  </mat-card-actions>
</mat-card>
