.card {
  max-width: 400px;
  max-height: 500px;
  display: flex;
  border: 1px solid #b7b7b7;
  flex-direction: column;

  &__header {
    color: #008cba;
    min-height: 60px;
    max-height: 80px;

    &__title {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      color: #008cba;
      margin: 0 0 10px 0;
    }
  }

  &__image {
    height: 200px;
    background-size: cover;
  }

  &__content {
     flex-grow: 1;
    &__date {
      font-size: 14px;
      font-weight: 300;
      margin: 10px 0 10px 0;
    }

    &__description {
      min-height: 80px;
    }
  }

  &__actions {
    height: 10px;
    margin-top: 10px;
    background-color: #008cba;

    .mat-mdc-button:not(:disabled) {
      background-color: #008cba;
      color: white;
      width: 100%;
      text-align: center;
    }
  }
}

