.session {
  width: 100%;
  max-width: 600px;
  height: 280px;
  display: flex;
  border: 1px solid #b7b7b7;
  flex-direction: column;
  overflow: auto;

  &__container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    &__availability {
      margin-top: 10px;
    }
    &__button {
      font-size: x-large;
    }
  }

  @media (min-width: 768px) {
    min-width: 600px;
    width: 50%;
  }
}


.notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
