<div class="session" *ngIf="eventSession">
  <div class="session__container" *ngFor="let session of eventSession  | sortByDate: 'date'">
    <div class="session__container__availability">
      {{CONST.APP_DATE | translate}}: {{ session.date | date }} , {{CONST.SESSION_AVAILABILITY | translate}} {{
      session.availability }}
    </div>
    <div>
      <button mat-button color="primary" class="session__container__button" (click)="dropLocation(session)">-</button>
      {{session.selectedLocations}}
      <button mat-button color="primary" class="session__button" (click)="addLocation(session)">+</button>
    </div>
  </div>
</div>

<div class="notfound" *ngIf="!eventSession">
  {{CONST.SESSION_NOTFOUND | translate}}
</div>
