<div class="container">
  <mat-grid-list [cols]="cols$ | async" rowHeight="{{(cols$ | async) === 2 ? '500px': '380px'}}" gutterSize="30px">
    <mat-grid-tile *ngFor="let event of events$ | async | sortByDate:'endDate'">
      <app-card [card]="event" [column]="cols$ | async"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
